body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
}

.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.navbar{
  padding: .5rem !important;
}

.nav-link{
  color: #ff0000 !important;
}
#mainNav {
  background-color: darkgray !important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  color: #ff0000 !important;
  border: 0;
  background-color: darkgray;
}

#mainNav .navbar-brand {
  color: #ff0000;
  background-color: darkgray;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ff0000 !important;
  background-color: darkgray;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  background-color: darkgray;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: darkgray;
}

header.header {
  text-align: center;
  color: #ff0000;
  /* background-image: url("https://bloximages.chicago2.vip.townnews.com/edmondsun.com/content/tncms/assets/v3/editorial/0/c5/0c54f97c-3772-11e7-bdcc-bfd09663ccb0/59165199e0447.image.jpg?resize=1200%2C800"); */
  background-image: url("https://www.lmsd.org/data/news/thumbs/6964.512.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}

header.header .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.header .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.header .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
}

  header.header .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.header .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkgray;
   color: white;
   text-align: center;
}
